.single-image-container {
    position: relative;
}

.standard-image {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.delete-image-button {
    position: absolute;
    right: 6px;
    bottom: 10px;
}