#dial-pad-icon {
    width: 12px;
    height: auto;
}

.all-images-button-container {
    position: absolute;
    right: -605px;
    bottom: 12px;
}

.all-images-button {
    display: flex;
    gap: 8px;
    align-items: center;
}

.show-images-button {
    padding: 12px 0 12px 12px;
    width: 138px;
    height: 30px;
    font-size: 13px;
    font-weight: 400;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
}

.show-images-button:hover {
    background-color: rgb(244, 244, 244);
}

@media only screen and (max-width: 1200px) {
    .all-images-button-container {
        right: -255px;
        bottom: 12px;
    }
}

@media only screen and (max-width: 960px) {
    .all-images-button-container {
        right: 14px;
        bottom: 14px;
    }
}