#dial-pad-icon {
    width: 12px;
    height: auto;
}

.all-images-button-container {
    position: absolute;
    right: 240px;
    top: 420px;
}

.all-images-button {
    display: flex;
    gap: 8px;
    align-items: center;
}