.card-container {
  width: 375px;
  position: relative;
}

.listing-img {
  width: 375px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
}

.listing-location {
  display: flex;
}

.line-under-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.listing-rating {
  min-width: 60px;
}

.listing-link {
  text-decoration: none !important;
}

#price{
  text-decoration: none !important;
   color: black;
   font-weight: 400;
}

#rating {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

#location {
  font-size: 17px !important;
  font-weight: 500;
  color: black;
  word-wrap: break-all !important;
  overflow-wrap: break-word !important;
  hyphens: auto !important;
  width: 315px;
}

.heart-button-selected {
  background-color: #ff385c;
  display: inline-block;
  height: 20px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 20px;
  position: absolute;
  right: 10px;
  top: 20px;
}

.heart-button-selected:before,
.heart-button-selected:after {
  content: "";
  background-color: #ff385c;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

.heart-button-selected:before {
  top: -9px;
  left: 0;
}

.heart-button-selected:after {
  left: 9px;
  top: 0;
}

.heart-button {
  background-color: white;
  display: inline-block;
  height: 15px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 17px;
  position: absolute;
  right: 10px;
  top: 20px;
}

.heart-button:before,
.heart-button:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  height: 15px;
  position: absolute;
  width: 15px;
}

.heart-button:before {
  top: -9px;
  left: 0;
}

.heart-button:after {
  left: 9px;
  top: 0;
}