.card-container {
  width: 375px;
}

.listing-img {
  width: 375px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
}

.listing-location {
  display: flex;
}

.line-under-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.listing-rating {
  min-width: 60px;
}

.listing-link {
  text-decoration: none !important;
}

#price{
  text-decoration: none !important;
   color: black;
   font-weight: 400;
}

#rating {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

#location {
  font-size: 17px !important;
  font-weight: 500;
  color: black;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  hyphens: auto !important;
  width: 315px;
}
