.urcovered-container {
  border-top: 1px solid rgb(209, 209, 209);
  margin-top: 330px;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0;
}

.colored-span {
  color: #ff385c;
}

.urcovered-title {
  font-size: 40px;
}

@media only screen and (max-width: 1300px) {
  .urcovered-container {
    border-bottom: 1px solid rgb(209, 209, 209);
    padding: 10px 0px 40px 0px;
  }
}

@media only screen and (max-width: 470px) {
  .urcovered-container {
    height: 200px;
    margin-top: 430px;
    margin-bottom: 130px;
  }
}
