#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  border-top: 2px solid rgb(174, 174, 174);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  width: 100vw;
}
