* {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

.modal-top {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(234, 234, 234);
  padding: 0 25px 0 10px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.modal-cancel {
  border: none;
  border-radius: 50%;
  background-color: white;
  padding: 5px 10px;
  font-weight: 500;
  position: absolute;
  left: 7px;
  cursor: pointer;
}

.modal-cancel:hover {
  background-color: rgb(238, 238, 238);
}

.modal-title {
  font-size: 25px;
  color: rgb(41, 41, 41)
}

.input-field {
  margin: 10px 15px;
  font-size: 18px;
  width: 263px;
  border-radius: 10px;
  border: 1px solid rgb(208, 208, 208);
  padding: 5px 15px;
}

.input-field:focus {
  outline: none;
  border: 2px solid black;
}

.submit-flex {
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: #FF385C;
  cursor: pointer;
  padding: 10px 127px;
  font-size: 17px;
  border: none;
  border-radius: 9px;
  color: white;
  margin-top: 10px;
  margin-bottom: 16px;
}

.submit-button:hover {
  background-color: #fd1943;
}

.error-container {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 18px;
  padding-right: 18px;
}

.errors {
  display: flex;
  flex-wrap: wrap;
  max-width: 290px;
}

.errors::before {
  content: "⚠ ";
}

#sign-up-button {
  padding: 10px 119px;
}

#create-listing-button {
  padding: 10px 120px;
}