* {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

.modal-top {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(234, 234, 234);
  padding: 0 25px 0 10px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.modal-cancel {
  border: none;
  border-radius: 50%;
  background-color: white;
  padding: 5px 10px;
  font-weight: 500;
  position: absolute;
  left: 7px;
  cursor: pointer;
}

.modal-cancel:hover {
  background-color: rgb(238, 238, 238);
}

.modal-title {
  font-size: 25px;
  color: rgb(41, 41, 41)
}

.input-field {
  margin: 10px 15px;
  font-size: 18px;
  width: 263px;
  border-radius: 10px;
  border: 1px solid rgb(208, 208, 208);
  padding: 5px 15px;
  resize: none;
}

.input-field:focus {
  outline: none;
  border: 2px solid black;
}

.input-field-select {
  margin: 10px 15px;
  font-size: 18px;
  width: 294px;
  border-radius: 10px;
  border: 1px solid rgb(208, 208, 208);
  padding: 5px 15px;
  resize: none;
}

.input-field-select:focus {
  outline: none;
  border: 2px solid black;
}

.input-label {
  font-size: 20px;
  margin: 0px 18px -10px 31px;
}

.input-label-error::before {
  content: "⚠ ";
  color: red;
}

.input-field-error {
  border: 2px solid red;
}

.submit-flex {
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: #FF385C;
  cursor: pointer;
  padding: 10px 127px;
  font-size: 17px;
  border: none;
  border-radius: 9px;
  color: white;
  margin-top: 10px;
  margin-bottom: 16px;
}

.submit-button:hover {
  background-color: #fd1943;
}

.error-container {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 18px;
  padding-right: 18px;
}

.errors {
  display: flex;
  flex-wrap: wrap;
  max-width: 290px;
  margin: 0 12px;
  font-size: 19px;
}


#sign-up-button {
  padding: 10px 119px;
}

#create-listing-button {
  padding: 10px 120px;
}

#update-listing-button {
  padding: 10px 86px;
}

#add-image-button {
  padding: 10px 120px;
}

#create-review-button {
  padding: 10px 122px;
}

#update-review-button {
  padding: 10px 86px;
}

#delete-listing-modal-top {
  width: 355px;
  height: 100px;
}

#delete-listing-title {
  padding: 14px 40px;
  margin-left: 8px;
  display: flex;
  flex-wrap: wrap;
}

#cancel-booking-modal-top {
  width: 355px;
  height: 100px;
}

#cancel-booking-title {
  padding: 14px 40px;
  margin-left: 8px;
  font-size: 23px;
  display: flex;
  flex-wrap: wrap;
}

#delete-listing-button {
  padding: 10px 45px;
  display: flex;
  flex-wrap: wrap;
}

#delete-review-modal-top {
  width: 365px;
  height: 100px;
}

#delete-review-title {
  padding: 14px 40px;
  margin-left: 12px;
  display: flex;
  flex-wrap: wrap;
}

#delete-review-button {
  padding: 10px 45px;
  display: flex;
  flex-wrap: wrap;
}

#delete-image-modal-top {
  width: 365px;
  height: 100px;
}

#delete-image-title {
  padding: 14px 40px;
  margin-left: 12px;
  display: flex;
  flex-wrap: wrap;
}

#delete-image-button {
  padding: 10px 45px;
  display: flex;
  flex-wrap: wrap;
}