.all-images-container {
    margin: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.back-arrow {
    margin-top: 15px;
    margin-left: 15px;
    border: none;
    border-radius: 50%;
    background-color: white;
    padding: 5px 10px;
    font-weight: 500;
    position: fixed;
    cursor: pointer;
    z-index: 1;
  }

  #back-arrow-img {
    width: 30px;
    height: auto;
  }
  
  .back-arrow:hover {
    background-color: rgb(242, 242, 242);
  }