.page-container {
    margin: 25px 85px;
}

#title {
    color: rgb(52, 52, 52);
}

#location {
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.flex-info {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

#num-of-reviews {
    font-size: 16px;
    padding-left: 3px;
    font-weight: 400;
}

#review-word {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 400;
}

#image-one {
    width: 575px;
    height: 450px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.image-container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 75px;
}

.image-container-right {
    display: grid;
    align-items: center;
    grid-template-columns: 270px 270px;
    grid-template-rows: 230px 230px;
    grid-template-areas: 
      "image-two image-three"
      "image-four image-five";
}

#image-two {
    width: 258px;
    height: 220px;
    object-fit: cover;
    grid-area: image-two;
}

#image-three {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 258px;
    height: 220px;
    object-fit: cover;
    grid-area: image-three;
}

#image-four {
    width: 258px;
    height: 220px;
    object-fit: cover;
    grid-area: image-four;
}

#image-five {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 258px;
    height: 220px;
    object-fit: cover;
    grid-area: image-five;
}

.listing-info {
    max-width: 90%;
    padding-top: 60px;
    padding-bottom: 75px;
    display: grid;
    align-items: center;
    grid-template-columns: 70% 40%;
    grid-template-rows: 100px 100px;
    grid-template-areas: 
      "hosted-by-section booking-card-section"
      "description-section booking-card-section";
}

.hosted-by-section {
    display: flex;
    height: auto;
    padding: 12px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209, 209, 209);
    grid-area: hosted-image-section;
    
}

#host {
    font-size: 20px;
    font-weight: 500;
}

#host-avatar {
    width: 70px;
    height: auto;
    border-radius: 50%;
}

.description-section {
    display: flex;
    height: auto;
    padding: 28px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(209, 209, 209);
    grid-area: description-section;
}

.listing-buttons-section {
    height: 150px;
}

.booking-card-section {
    grid-area: booking-card-section;
    padding-left: 65px;
    min-width: 150px;
    margin-top: -80px;
}