.booking-card-container {
    height: 520px;
    border: 1px solid  rgb(209, 209, 209);
    border-radius: 15px;
    box-shadow: 0 3px 5px rgb(212, 209, 209);
    padding: 18px 22px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    contain: content;
    max-width: 375px;
    margin-top: 10px;
    overflow-y: scroll;
}

.top-booking-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booking-card-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#rating {
    font-size: 15px;
    padding-right: 5px;
}

#night-price > span {
    font-size: 20px;
}

#reviews-num {
    display: flex;
    font-size: 15px;
}

#wont-be-charged {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: -12px;
}

.middle-booking-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fee {
    font-size: 15px;
    padding: 7px 0;
}

.service-fee {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 2px;
}

.total-booking-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid  rgb(209, 209, 209);
    padding: 25px 0 10px 0;
}

#total-fee {
    font-size: 20px;
}

@media only screen and (max-width: 850px) {
    .booking-card-container {
        height: 350px;
        margin-top: 70px;
        margin-bottom: 60px;
    }
}