.trip-card-container {
    border: 1px solid rgb(243, 243, 243);
    box-shadow: 0 0 9px 3px rgb(212, 209, 209);
    border-radius: 15px;
    width: 1200px;
    height: 350px;
    margin: 3% auto;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        " city-hosted-by city-hosted-by trip-image"
        "dates address trip-image";
}

.city {
    grid-area: city-hosted-by;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(217, 217, 217);
    margin: 0 65px 0 35px;
}

#city-title {
    padding: 6px 0px;
}

.booking-dates {
    grid-area: dates;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid rgb(217, 217, 217);
    margin: 35px 65px 35px 35px;
    font-weight: 400;
}

.booking-address {
    grid-area: address;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 35px 65px 35px -25px;
    font-weight: 400;
}

.booking-image-container {
    grid-area: trip-image;
    position: relative;
}

#booking-image {
    height: 350px;
    width: auto;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    right: 0px;
}

#cancel-booking-button {
    position: absolute;
    bottom: 10px;
    right: 14px;
}

.thin-text {
    font-weight: 400;
}