.trip-card-container {
    border: 1px solid rgb(243, 243, 243);
    box-shadow: 0 0 9px 3px rgb(212, 209, 209);
    border-radius: 15px;
    width: 1200px;
    height: 350px;
    margin: 3% auto;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        " city-hosted-by city-hosted-by trip-image"
        "dates address trip-image";
}

.city {
    grid-area: city-hosted-by;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(217, 217, 217);
    margin: 0 65px 0 35px;
}

#city-title {
    padding: 6px 0px;
}

.booking-dates {
    grid-area: dates;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid rgb(217, 217, 217);
    margin: 35px 65px 35px 35px;
    font-weight: 400;
}

.booking-address {
    grid-area: address;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 35px 65px 35px -25px;
    font-weight: 400;
}

#through {
    padding-left: 22px;
}

.booking-image-container {
    grid-area: trip-image;
    position: relative;
}

#booking-image {
    height: 352px;
    width: 625px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    right: -1px;
    bottom: -1px;
}

#cancel-booking-button {
    position: absolute;
    bottom: 10px;
    right: 14px;
}

.thin-text {
    font-weight: 400;
}

.cancel-booking-button {
    padding: 12px 0 12px 0px;
    width: 120px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-booking-button:hover {
    background-color: rgb(244, 244, 244);
}

@media only screen and (max-width: 1250px) {
    .trip-card-container {
        width: 900px;
        height: 350px;
    }

    #through {
        padding-left: 0px;
    }

    #booking-image {
        height: 352px;
        width: 425px;
    }
}

@media only screen and (max-width: 950px) {
    .trip-card-container {
        width: 700px;
        height: 350px;
        grid-template-columns: 25% 25% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        " city-hosted-by city-hosted-by trip-image"
        "dates address trip-image";
    }

    #booking-image {
        height: 352px;
        width: 375px;
    }

    .booking-dates {
        font-size: 12px;
    }

    .booking-address {
        font-size: 12px;
    }
}

@media only screen and (max-width: 750px) {
    .trip-card-container {
        width: 500px;
        height: 350px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "city-hosted-by city-hosted-by"
        "dates address";
    }

    #booking-image {
        display: none;
    }

    #through {
        padding-left: 15px;
    }

    .booking-dates {
        align-items: flex-start;
        margin: 35px 65px 35px 55px;
        font-size: 12px;
    }

    .booking-address {
        align-items: center;
        font-size: 12px;
    }

    .city {
        grid-area: city-hosted-by;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-bottom: 1px solid rgb(217, 217, 217);
        margin: 0 65px 0 35px;
    }
}

@media only screen and (max-width: 550px) {
    .trip-card-container {
        width: 325px;
        height: 400px;
        grid-template-columns: 60% 40%;
        grid-template-rows: 30% 70%;
        grid-template-areas: 
        "city-hosted-by city-hosted-by"
        "dates address";
    }

    #through {
        padding: 10px 0px;
    }
 }
